@using UAS.Application.Utilities.Result.Common;

@{
    ViewData["Title"] = "Kullanıcı Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Stylesheet{
    <style>
        div.dataTables_filter {
            display: inline-block;
            float: right;
        }

        div.dataTables_length {
            display: inline-block;
            float: left;
        }
    </style>

}


<div class="container">
    <div class="row mt-5">
        <div class="card">
            <h3 class="card-header font-weight-bold">Kullanıcı Güncelle</h3>
            <hr />

            <div class="card-body">
                <div id="user-table" class="table-responsive">
                    <table id="users-data" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Kullanıcı Adı</th>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>Email</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*if (Users != null)
                            {
                            @foreach (var user in Users)
                            {
                            <tr>
                            <td>@user.UserName</td>
                            <td>@user.Name</td>
                            <td>@user.Surname</td>
                            <td>@user.Email</td>
                            <td>
                            <button id="btnKullaniciGuncelle" data-bs-toggle="modal" data-bs-target="#editUserModal" value="@user.Id" type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                            <button id="btnKullaniciSil" value="@user.Id" type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </td>
                            </tr>
                            }
                            }*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Kullanıcı Düzenle</h5>
                </div>
                <div class="modal-body">
                    <form id="editUserForm">
                        <div class="form-group">
                            <label for="userName">Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="userName" name="userName">
                        </div>
                        <div class="form-group">
                            <label for="name">Ad</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="surname">Soyad</label>
                            <input type="text" class="form-control" id="surname" name="surname">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" name="isCheckedNewPassword" class="form-check-input" id="changePasswordCheckbox">
                            <label class="form-check-label" for="changePasswordCheckbox">Şifreyi değiştir</label>
                        </div>
                        <div id="passwordField" style="display:none">
                            <div class="form-group">
                                <label for="newPassword">Yeni Şifre</label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword">
                            </div>
                        </div>
                        <input type="hidden" id="updateUserId" name="updateUserId" value="0" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeEditUserModal" data-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary" id="editUserBtn">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(document).ready(function () {
            $.fn.dataTable.ext.buttons.refresh = {
                text: 'Refresh'
                , action: function (e, dt, node, config) {
                    dt.clear().draw();
                    dt.ajax.reload();
                }
            };
            var table = $("#users-data").DataTable({

                ajax: '@Url.Action("GetAllJSON","Users")',
                columns: [
                    { data: 'userName' },
                    { data: 'name' },
                    { data: 'surname' },
                    { data: 'email' },
                    {
                        targets: -1,
                        data: null,
                        defaultContent: '<button id="btnKullaniciGuncelle" data-bs-toggle="modal" data-bs-target="#editUserModal" type="button" class="btn btn-success"><i class="fas fa-edit"></i></button> <button id="btnKullaniciSil" type="button" class= "btn btn-danger" > <i class="far fa-trash-alt"> </i></button >',
                    },
                ],
                dom: 'B<lf>rtip',
                buttons: ['refresh'],
            });
            $('#editUserModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var data = table.row($(button).parents('tr')).data();
                var userId = data["id"];
                $('#updateUserId').val(userId);
                $.ajax({
                    url: '@Url.Action("GetById","Users")',
                    type: 'GET',
                    data: { id: userId },
                    success: function (data) {
                        $('#userName').val(data.userName);
                        $('#name').val(data.name);
                        $('#surname').val(data.surname);
                        $('#email').val(data.email);
                    }
                });

            });
            $(document).on("click", "#btnKullaniciSil", function () {
                Swal.fire({
                    title: 'Emin misiniz?',
                    text: "Kullanıcıyı silmek üzeresiniz!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Evet, sil!',
                    cancelButtonText: 'Vazgeç'
                }).then((result) => {
                    if (result.isConfirmed) {
                        var data = table.row($(this).parents('tr')).data();
                        var itemId = data["id"];
                        var url = "@Url.Action("KullaniciSil", "KullaniciLookup")";
                        var formData = new FormData();
                        formData.append("id", itemId);
                        $.ajax({
                            url: url,
                            type: "POST",
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (result) {
                                if (result.success) {
                                    table.ajax.reload();
                                }
                            },
                            error: function () {
                                toastr.error("Kullanıcı silinirken hata.");
                            }
                        });
                    }
                });

            });
            $('#changePasswordCheckbox').change(function () {
                if (this.checked) {
                    $('#passwordField').show();
                    $('#newPassword').prop('required', true);
                } else {
                    $('#passwordField').hide();
                    $('#newPassword').prop('required', false);
                }
            });
            $(document).on("click", "#editUserBtn", function () {
                var data = new FormData();
                data.append("id", $('#updateUserId').val());
                data.append("userName", $('#userName').val());
                data.append("name", $('#name').val());
                data.append("surname", $('#surname').val());
                data.append("email", $('#email').val());
                data.append("newPassword", $('#newPassword').val());
                data.append("isCheckedNewPassword", $('#changePasswordCheckbox').is(':checked'));
                $.ajax({
                    url: "@Url.Action("KullaniciDuzenle","KullaniciLookup")",
                    type: "POST",
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result.success) {
                            table.ajax.reload();
                            $('#editUserModal').modal('hide');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });
            $('#closeEditUserModal').click(function () {
                $('#editUserModal').modal('hide');
            });
        });
    </script>
}
