@using Microsoft.Extensions.Options;
@model UAS.Application.Features.Queries.Role.GetMenupanelsWithUserName.GetMenupanelsWithUserNameQueryResponse

@inject IOptionsSnapshot<SiteSettingsUpload> _siteSettingsUpload


<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" >
    <div class="d-flex justify-content-between" style="margin: 7px;">
        <div>
            <a href="index.html" class="app-brand-link">
                @* <span class="app-brand-logo demo">
                <svg width="22" height="12" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"
                fill="#7367F0" />
                <path opacity="0.06"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z"
                fill="#161616" />
                <path opacity="0.06"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z"
                fill="#161616" />
                <path fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"
                fill="#7367F0" />
                </svg>
                </span>*@
                <img src="~/@_siteSettingsUpload.Value.LogoUrl" style="width:70px;height:50px;margin-right:15px;" />
            </a>
        </div>

        <div class="app-brand-text demo menu-text fw-bold text-center" style="align-self:center">
            Enoca
        </div>

        <div style="align-self:center">
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
                <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
                <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
            </a>

        </div>

    </div>

    <div>
        <p class=" text-center mt-2">@_siteSettingsUpload.Value.SiteName</p>
    </div>
    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">

        @{
            int deger = 0;
        }

        @for (int i = 1; i < Model.MenuKategories.Count + 1; i++)
        {
            @*Kategori*@
            <li class="menu-header small text-uppercase">
                <span class="menu-header-text">@Model.MenuKategories[i-1].menuKategoriAd</span>
            </li>

            @foreach (var panel in Model.MenuPanels)
            {
                @if (panel.menuKategoriID == Model.MenuKategories[i - 1].Id)
                {
                    @if (panel.menuUstID == 0)
                    {
                        deger = 0;
                        @*@if (panel.menuLink.Count() > 1 && panel.menuLink == "default")
        {*@
                        @foreach (var sayin in Model.MenuPanels)
                        {
                            @if (sayin.menuUstID == panel.Id)
                            {
                                deger += 1;
                            }
                        }
                        @if (deger > 0)
                        {
                            <li class="menu-item">
                                <a href="javascript:void(0);" class="menu-link menu-toggle">
                                    <i class="menu-icon tf-icons ti ti-smart-home"></i>
                                    <div data-i18n="Dashboards">@panel.menuAd</div>
                                    @*<div class="badge bg-label-primary rounded-pill ms-auto">3</div>*@
                                </a>
                                <ul class="menu-sub">
                                    @foreach (var icpanel in Model.MenuPanels)
                                    {
                                        if (icpanel.menuUstID == panel.Id)
                                        {
                                            <li class="menu-item">
                                                <a asp-controller="@icpanel.Controller" asp-action="@icpanel.Action" class="menu-link">
                                                    <div data-i18n="Analytics">@icpanel.menuAd</div>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="menu-item">
                                <a asp-controller="@panel.Controller" asp-action="@panel.Action" class="menu-link">
                                    <i class="menu-icon tf-icons ti ti-settings"></i>
                                    <div data-i18n="Roles">@panel.menuAd</div>
                                </a>
                            </li>
                        }

                    }
                }
            }

        }






        <!-- Apps & Pages -->
        @*AltMenu*@
        @*<li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-smart-home"></i>
        <div data-i18n="Dashboards">Dashboards</div>
        <div class="badge bg-label-primary rounded-pill ms-auto">3</div>
        </a>
        <ul class="menu-sub">
        <li class="menu-item">
        <a href="index.html" class="menu-link">
        <div data-i18n="Analytics">Analytics</div>
        </a>
        </li>
        <li class="menu-item">
        <a href="dashboards-crm.html" class="menu-link">
        <div data-i18n="CRM">CRM</div>
        </a>
        </li>
        <li class="menu-item">
        <a href="dashboards-ecommerce.html" class="menu-link">
        <div data-i18n="eCommerce">eCommerce</div>
        </a>
        </li>
        </ul>
        </li>


        <li class="menu-item">
        <a asp-controller="Authorization" asp-action="Roles" class="menu-link">
        <i class="menu-icon tf-icons ti ti-settings"></i>
        <div data-i18n="Roles">Roles</div>
        </a>
        </li>*@

    </ul>
</aside>